@use "../../styles/mixins" as *;
@use "../../styles/typography" as *;
@use "../../styles/variables" as *;
@use "../../styles/global" as *;

.main {
  padding: 1rem;
  &__title {
    color: white;
  }
  &__about {
    text-decoration: none;
    color: white;
    font-weight: bold;
    &:hover {
      text-decoration: underline; 
    }
  }
}

@include tablet {
  .main {
    padding: 1rem 2rem;
  }
}
