@use "../../styles/mixins" as *;
@use "../../styles/typography" as *;
@use "../../styles/variables" as *;
@use "../../styles/global" as *;

.header {
  display: flex; 
  align-items: center; 
  justify-content: space-between; 
  padding: 1rem;

  &__title {
    color: white;
    width: 50px; 
    height: auto;
  }

  &__nav {
    display: flex; 
    gap: 1rem; 
  }

  &__link {
    text-decoration: none;
    color: white;
    font-weight: bold;  

    &:hover {
      text-decoration: underline; 
    }
  }
}

@include tablet {
  .header {
    padding: 1rem 2rem;
  }
}
